@*@{
        ViewData["Title"] = "DeleteTasks";
    }

    <h1>DeleteTasks</h1>*@


@{
    ViewData["Title"] = "AddTasks";
}


@Html.ValidationSummary()
<h1>Delete Tasks</h1>
<form action="../Tasks/DeleteTasks" method="post">
   
</form>
